.App {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-width: 320px;
    position: relative;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #223344;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

li {
    list-style: none;
}